@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.table_custom tr th, .table_custom tr td {
    padding: 15px 15px;
    font-size: 14px;
    color: #000;
}

.table_custom tr th {
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #0f5fa8;
    border: 1px solid #0b4d87;
    border-radius: 0;
}
.table_custom tbody tr {
    transition: all .2s ease;
}

    .table_custom tbody tr:hover {
        background: #edf5fd !important;
    }

.dataTables_filter input {
    border: 1px solid #d8e2ef;
    border-radius: 6px;
}

    .dataTables_filter input:focus {
        border-color: #0f5fa8;
       /* box-shadow: 0 0 0 .15rem rgba(15,95,168,.15);*/
    }


.table_custom tbody td {
    border-color: #e4ebf5;
}
.table_middle tr th, .table_middle tr td {
    vertical-align: middle !important;
}

table.nowrap th, table.nowrap td {
    /*white-space: nowrap !important;*/
}


