{% extends "_partial/layout/main.njk" %}
{% set pageTitle = 'Blank Page'%}

{% block pageContent %}
    <p>Starter page for general layout.</p>
{% endblock %}
</html>
<html>
<head>
</head>
<body>
</body>
</html>